html {
  width: 100%;
  height: 100%;
  margin:  0;
  padding:  0;
  font-family:  Michroma;
  font-size: 12px;
  min-width: 800px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#navigation {
  position: fixed;
  top: 0;
  left: -500px;
  width: 500px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #005696; /**/
  transition: left 1s;
}

#menu_container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 80vh;
  overflow-y: scroll;
}

#content_area {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: left 1s;
  background-color: white;
}

/* Hamburger menu that morphs into an X */
.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  left: 0;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 1s, left 1s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 14px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: #005696;
  z-index: 99999;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
  z-index: 99999;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
  z-index: 99999;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
  z-index: 99999;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
  z-index: 99999;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #005696;
  z-index: 99999;
}

.c-hamburger--htx.is-active span {
  background: none;
  z-index: 99999;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
  z-index: 99999;
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  z-index: 99999;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
  z-index: 99999;
}

/* Accordion Menu */
.ss_button {
	background-color: #005696;
	border-bottom: 1px solid #EFEFEF;
	cursor: pointer;
	padding: 10px;
	color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.ss_content {
	background-color: #EFEFEF;
	display: none;
	padding: 10px;
  margin: 0;
  box-shadow: inset -3px 3px 10px -5px rgba(0,0,0,0.8);
  max-height: 400px;
  overflow-y: scroll;
  width: calc(100% - 20px);
  font-size: 0.85em;
}

#uac_container {
  margin: 0;
}

#user_permissions_grid {
  /*margin-left: -10px;*/
  /*margin-top: -10px;
  margin-bottom: -10px;*/
  width: 100%;
}

#treeview_display {
  height: 320px;
  overflow-y: scroll;
}

/* Footer with Cray logo at bottom of slide out menu */
#cray_logo {
  width: 350px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: -5px;
}

#logo_copyright {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: 120px;
  margin: 0;
  padding: 0;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 10px;
}

#logo_copyright a {
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 10px;
}

#logo_copyright h1 {
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 100;
  margin-bottom: 30px;
}

#copyright {
  margin-left: 10px;
}

.sysinfo_tables {
  width: calc(100% - 10px);
  margin-top: 5px;
  margin-bottom: 30px;
}

#queue_title {
  font-size: 1.1em;
  font-weight: bold;
}

#current_db {
  width: 100%;
}

#current_db tr:nth-child(1) {
  width: 90%;
}

#current_db tr:nth-child(2) {
  width: 5%;
}

#current_db tr:nth-child(3) {
  width: 5%;
}

#query_table {
  width: 100%;
  table-layout: fixed;
}

#query_table td {
  width: 25%;
}

#query_table .k-combobox {
  width: 100%;
  margin: 0;
}

#query_table .k-button {
  width: 100%;
  margin: 0;
}

#query_progress {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

#current_db thead {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

#current_queue thead {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.widecombobox .k-widget.k-combobox {
  width: 100%;
  padding: 0;
}

#db_config input {
  width: 100%;
}

#treeViewSearchInput {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
}

span.k-in > span.highlight {
    background: #A19FA1;
    color: #FFFFFF;
    padding: 1px;
}

.hidden_popups {
  display: none;
}

.inner_menu_containers {
  width: 100%;
}

#alterNodesContainer table {
	width: 100%;
}

#alterNodesContainer label {
	font-family: 'fira';
	font-size: 0.9em;
}

#alterNodesContainer h2 {
  font-weight: bold;
	font-size: 1.3em !important;
}

.tableH3 {
	padding: 0;
	margin: 0;
}

.tableH3 h3 {
	font-size: 1.1em;
}

#alterNodesContainer table {
	table-layout: fixed;
	width: 100%;
}

.deleteMeTdFirst {
	width: calc(60% - 5px);
	word-wrap: break-word;
}

.deleteMeTdLast {
	width: calc(40% - 5px);
}

#new_db_config input {
  width: 100%;
}

#createDB {
  margin-top: 20px;
}

#new_db {
  width: 100%;
}

.hidden_layout_options {
	display: none;
}

#graphTooltip td {
	word-break: break-all;
	word-wrap: break-word;
}

#graphSearch {
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	width: 320px;
	z-index: 3;
	padding: 0;
	margin: 0;
	opacity: 0.6;
}

#graphSearchTextBox {
	margin: 0;
	float: right;
}

#graphSearchColorPicker {
	margin-right: 5px;
	float: left;
}

/* Well, it's a little hacky right now, but need to force the pan-zoom widget to the bottom-right corner */
.cy-panzoom {
	position: fixed !important;
	bottom: 230px !important;
	right: 55px !important;
}

.k-tooltip {
	background: rgba(0,0,0,0.7) !important;
}

.yasqe_buttons {
  display: none;
}

#dummyContainer1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.yasqe .CodeMirror {
	width: calc(100% - 5px);
}

.yasqe .CodeMirror-sizer {
  margin-left: 44px;
  height: 100%;
}

.yasqe .CodeMirror-gutters {
  width: 44px;
  height: 100%;
}

.yasqe .CodeMirror-lines {
  height: 100%;
}

#querySubmitButton {
  width: 100%;
  margin-top: 5px;
}

#resultsGrid {
	font-size: 0.8em !important;
}

#clearHistory {
	float: right;
	margin-right: 12px;
}

.graphHistograms {
	height: 200px;
}

.graphHistogramCharts {
	height: 200px;
}

.numbox {
	width: 70px;
}

#graphSettings .k-combobox {
   width: 100% !important;
}

#graphSettings .k-colorpicker {
   width: 100% !important;
}

#graphSettings .k-selected-color {
   width: 100% !important;
}

#layoutSettings .k-combobox {
   width: 100% !important;
}

#chart_display_button {
  width: 100%;
  margin-top: 10px;
}

#spinner_container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

div.k-loading-mask {
  z-index: 999999;
  background-color: #EFEFEF;
  width: 100%;
  height: 100%;
  margin: 0;
}

#viz {
  width: 100%;
  height: 100%;
	margin: 0;
	padding: 0;
}

#viz_main {
	width: 100%;
	height: 100%;
}

#viz_foot {
	display: none;
}
