html {
  width: 100%;
  height: 100%;
  margin:  0;
  padding:  0;
  font-family:  Michroma;
  font-size: 12px;
  min-width: 800px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#navigation_wrapper {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  left: -500px;
  width: 532px;
  height: 100%;
  min-height: 100%;
  transition: left 1s;
}

#navigation {
  position: absolute;
  width: 500px;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #005696;
}

#menu_container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 85vh;
  overflow-y: scroll;
}

#content_area {
  position: fixed;
  left: 32px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: left 1s;
  background-color: white;
}

/* Hamburger menu that morphs into an X */
.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  right: 0;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background 1s, left 1s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 14px;
  left: 6px;
  right: 6px;
  height: 3px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: #005696;
  z-index: 5;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
  z-index: 5;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #005696;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* Accordion Menu */
.ss_button {
	background-color: #005696;
	border-bottom: 1px solid #EFEFEF;
	cursor: pointer;
	padding: 10px;
	color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.ss_content {
	background-color: #EFEFEF;
	display: none;
	padding: 10px;
  margin: 0;
  box-shadow: inset -3px 3px 10px -5px rgba(0,0,0,0.8);
  max-height: 400px;
  overflow-y: scroll;
  width: calc(100% - 20px);
  font-size: 0.85em;
}

#uac_container {
  margin: 0;
}

#user_permissions_grid {
  width: 100%;
}

#user_permissions_grid .k-grid-content>table>tbody>tr {
  font-size: 0.8em;
}

#treeview_display {
  height: 320px;
  overflow-y: scroll;
}

/* Footer with Cray logo at bottom of slide out menu */
#cray_logo {
  width: 120px;
  height: auto;
  display: block;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: -5px;
}

#logo_copyright {
  position: absolute;
  bottom: 0;
  width: 500px;
  height: 100px;
  margin: 0 10px 0 0;
  padding: 0;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 10px;
  text-align: left;
}

#logo_copyright a {
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 10px;
}

#logo_copyright h1 {
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 100;
  margin-bottom: 30px;
}

#copyright {
  margin-left: 10px;
}

.sysinfo_tables {
  width: calc(100% - 10px);
  margin-top: 5px;
  margin-bottom: 30px;
}

#queue_title {
  font-size: 1.1em;
  font-weight: bold;
}

#current_db {
  table-layout: fixed;
  width: calc(100% - 20px);
  margin: 10px;
}

#current_db td {
  text-overflow: ellipsis;
}

#db_status {
  padding: 0;
  margin: 0;
}

.current_db_first {
  width: 70%;
}

.current_db_middle {
  width: 15%;
}

.current_db_last {
  width: 15%;
}

#query_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

#query_table td {
  width: 25%;
  padding: 0;
  margin: 0;
}

#query_table tr {
  padding: 0;
  margin: 0;
}

#query_table .k-combobox {
  width: 100%;
  margin-bottom: 5px;
}

#query_table .k-button {
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.8em;
}



#query_progress {
  position: relative;
  width: calc(100% - 10px);
  z-index: 5;
  margin: 0 5px 0 5px;
}

#current_db thead {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

#current_queue {
  table-layout: fixed;
  margin: 10px;
  width: calc(100% - 20px);
  min-height: 60px;
}

#current_queue thead {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

#current_queue tbody {
  font-size: 0.8em;
}

.widecombobox, .widecombobox .k-widget.k-combobox {
  width: 100%;
  padding: 0;
}

.widebutton, #CNCColorPickerTr .k-selected-color {
   width: 100%;
}

#CNCColorPickerTr .k-colorpicker, .half_wide {
  width: 50%;
}

#CNCnumericSubmit {
  width: 9vw;
}

#db_config {
  table-layout: fixed;
  margin: 10px 10px 0 10px;
  width: calc(100% - 20px);
}

#db_config .k-widget, #db_config .k-button {
  width: 100%;
}

#db_config input[name='selectDB_input'] {
  height: 100%;
}

#treeViewSearchInput {
  width: 40%;
  margin-bottom: 10px;
  margin-top: 10px;
}

span.k-in > span.highlight {
    background: #A19FA1;
    color: #FFFFFF;
    padding: 1px;
}

.hidden_popups {
  display: none;
}

.inner_menu_containers {
  width: 100%;
}

#alterNodesContainer .k-button {
  font-size: 0.8em;
}

#alterNodesContainer table {
	width: 100%;
  table-layout: fixed;
  font-size: 0.9em;
}

#alterNodesContainer label {
	font-size: 0.9em;
}

#alterNodesContainer h2 {
  font-weight: bold;
	font-size: 1.3em !important;
}

.tableH3 {
	padding: 0;
	margin: 0;
}

.tableH3 h3 {
	font-size: 1.1em;
}

.deleteMeTdFirst {
	width: calc(60% - 5px);
	word-wrap: break-word;
}

.deleteMeTdLast {
	width: calc(40% - 5px);
}

#new_database_popup {
  background-color: #EFEFEF;
  margin: 0;
  padding: 10px;
}

#new_db_config {
  table-layout: fixed;
  width: calc(100% - 10px);
  margin: 0;
  padding: 0;
}

#new_db_config tr {
  margin: 0;
  padding: 0;
}

#new_db_config td {
  margin: 0;
}

#new_db_config .k-widget {
  width: calc(100% - 5px);
  margin: 0 5px 0 0;
}

#new_db_config .k-textbox {
  width: calc(100% - 5px);
  margin: 0 5px 0 0;
}

#createDB {
  width: calc(100% - 5px);
  margin-top: 5px;
}

#new_db {
  width: 100%;
}

.hidden_layout_options {
	display: none;
}

#graphTooltip td {
	word-break: break-all;
	word-wrap: break-word;
}

#graphSearch {
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	width: 330px;
	z-index: 3;
	padding: 0;
	margin: 0;
	opacity: 0.6;
}

#graphSearchTextBox {
	margin: 0;
	float: right;
}

#graphSearchColorPicker {
	margin-right: 5px;
	float: left;
}

/* Well, it's a little hacky right now, but need to force the pan-zoom widget to the bottom-right corner */
.cy-panzoom {
	position: fixed !important;
	bottom: 230px !important;
	right: 55px !important;
}

.k-tooltip {
	background: rgba(0,0,0,0.7) !important;
}

.yasqe_buttons {
  display: none;
}

#dummyContainer1 {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.yasqe .CodeMirror-gutter.CodeMirror-linenumbers {
  width: 29px !important;
}

.yasqe .CodeMirror-sizer {
  margin-left: 44px !important;
}

#querySubmitButton {
  width: 100%;
  margin-top: 5px;
}

#resultsGrid {
	font-size: 0.8em !important;
}

#clearHistory {
	float: right;
}

.graphHistograms {
	height: 200px;
}

.graphHistogramCharts {
	height: 200px;
}

.numbox {
	width: 70px;
}

#graphSettings .k-combobox {
   width: 100% !important;
}

#graphSettings .k-colorpicker {
   width: 100% !important;
}

#graphSettings .k-selected-color {
   width: 100% !important;
}

#layoutSettings .k-combobox {
   width: 100% !important;
}

#layoutSubmit {
  width: 100%;
}

#chart_display_button {
  width: 100%;
  margin-top: 10px;
}

#spinner_container {
  width: 100%;
  z-index: 5;
}

div.k-loading-mask {
  z-index: 5;
  background-color: #EFEFEF;
  width: 100%;
  height: 100%;
  margin: 0;
}

#viz {
  width: 100%;
  height: 100%;
	margin: 30px 30px 0 0;
	padding: 0;
}

#viz_main {
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

#viz_foot {
	display: none;
}

#user_permissions_grid .k-button {
  font-size: 0.7em;
  width: calc(100% - 6px);
  margin: 2px;
  padding: 5px;
}

#user_permissions_grid span.k-icon {
  vertical-align: middle;
}

.cxtmenu-content {
  font-size: 0.7em;
}

#results_and_histogram_wrapper {
  position: fixed;
  width: 9vw;
  right: 4vw;
  bottom: 2vh;
  opacity: 0.6;
}

#results_and_histogram_wrapper .k-button {
  width: 100%;
  font-size: 0.7em;
  padding: 5px;
  margin-top: 5px;
}

#QuerySavePopup {
  background-color: #EFEFEF;
}

#querySaveForm {
  font-size: 0.8em;
  width: 100%;
}

#querySaveForm table {
  width: 100%;
}

#queryName {
  width: 100%;
  margin-bottom: 5px;
}

#saveQ {
  width: 100%;
}

/*
 * Going to use CSS3 flexbox to create a grid of DIV's each showing node state and other information
 * First, define some colors for node state
*/
.node-idle {
  background-color: rgba(200, 230, 201, 1);
  border-color: rgba(95, 182, 98, 1);
  transition: all linear 0.5s;
}

.node-alloc {
  background-color: rgba(187, 222, 251, 1);
  border-color: rgba(43, 152, 243, 1);
  transition: all linear 0.5s;
}

.node-drain {
  background-color: rgba(253, 239, 186, 1);
  border-color: rgba(250, 205, 37, 1);
  transition: all linear 0.5s;
}

.node-bad {
  background-color: rgba(255, 205, 210, 1);
  border-color: rgba(255, 52, 72, 1);
  transition: all linear 0.5s;
}

/* Now the flexbox stuff */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 10px);
}

.flex-child {
  width: 74px;
  height: 74px;
  margin: 2px;
  border-width: 1px;
  border-style: solid;
}

.sparkline-container {
  width: calc(100% - 2px);
  max-width: calc(100% - 2px);
  height: 20px;
}

.flex-child-sparkline {
  width: 100%;
  max-width: 72px;
}

.node-name {
  width: 100%;
  margin: 0;
  padding: 0;
}

.node-name p {
  text-align: center;
  font-size: 0.8em;
}